<%= form_tag("/static_pages/thank_you") do %>
  <div class="form-group col-xs-12 col-sm-6">
    <div class="col-xs-12 col-sm-6">
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, :class => "form-control", :placeholder => "Enter your name", :required => true %>
    </div>
     <div class="col-xs-12 col-sm-6">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, nil, :class => "form-control", :placeholder => "Enter Email", :required => true, :type => "email" %>
    </div>
    <div class="col-xs-12 col-sm-12">
      <%= label_tag :message %>
      <%= text_area_tag :message, nil, :class => "form-control", col: 20, rows: 10, :placeholder => "Enter Message", :required => true %>
    </div>
    <div class="col-xs-12">
      <%= submit_tag("Send", :class => "btn btn-primary") %>
    </div>
  </div>
<% end %>