<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-10 col-sm-3 col-md-3 login-form">
      <div class="field login-field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field login-field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="actions login-actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>