<h3>Hello <%= current_user.first_name %> here you can edit your profile</h3>

  <div class="col-xs-12 col-sm-6 col-md-3 display-user">
    <div class="display-product">
      <div class="product-description">
        <p class="product-name"><%= @user.first_name %> <%= @user.last_name %></p>

      </div>
      <div class="product-links">
        <span><%= link_to 'Show', current_user %></span>
        <span><%= link_to 'Edit', edit_user_path(current_user) %></span>
        <span><%= link_to 'Delete', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    </div>
  </div> <!-- /col -->


<!-- <%= link_to 'New User', new_user_path %> -->
