<div class="container top-page">
  <h1>Forgot your password?</h1>

<<<<<<< HEAD
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>
=======
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
>>>>>>> master
    <div class="row top-page">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4"> 
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email" %>
<<<<<<< HEAD
  	    </div>
=======
        </div>
>>>>>>> master
      
        <div class="form-group">
          <%= f.submit "Send me reset password instructions", class: "btn btn-default" %>
        </div>
        <% end %>

<<<<<<< HEAD
	     <%= render "devise/shared/links" %>
    </div>
  </div> 
</div> 
=======
       <%= render "devise/shared/links" %>
    </div>
  </div> 
</div> 
>>>>>>> master
