 <div class="col-sm-6 col-md-4 col-lg-4 product-length">
    <div class="display-product">
    <% cache product do %>
    <% if product.image_url.present? %>
      <%= link_to  image_tag(product.image_url, class: "img-responsive product-img"), product %>
    <% end %>

    <div class="product-description">
      <p class="product-name"><%= product.name %></p>
      <p>Description: <%= product.description %></p>
    
    </div>

    <hr class="divider">
    <p class="product-price">Price: <%= product.price %> &euro;</p>

    <div class="product-links">
      <span><%= link_to 'Show', product %></span>
      <% if current_user && current_user.admin? %>
        <span><%= link_to 'Edit', edit_product_path(product) %></span>
        <span><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    <% end %><!-- end cache -->
    </div>
  </div>
</div> <!-- /col -->
    

  
