<div class="container">

<p id="notice"><%= notice %></p>

<h1>
  <%= @product.name %>
</h1>
<div class="row">
  <div class="col-md-4">
    <h3>Description:</h3>
    <p><%= @product.description %></p>
    <h4>Price:</h4>
    <p>&euro;<%= @product.price %></p>
    <h4>Color:</h4>
    <p> <%= @product.color %></p>
  </div>
  <div class="col-md-8">
  <% if @product %>
  <%= image_tag(@product.image_url, class:'img-responsive') %>
   <% end %>
  </div>
</div> <!--end row-->
<%= link_to 'Edit', edit_product_path(@product), class:'btn btn-primary' %> |
<%= link_to 'Back', products_path, class:'btn btn-primary' %>
</div><!--end container-->