<p id="notice"><%= notice %></p>

<div class="container product-show-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-8 product-box">
      <p class="product-name">
        <%= @product.name %>
      </p>
      
      <p class="product-description">
        <%= @product.description %>
      </p>
      <p class="product-price col-xs-12">
        <%= @product.price %> €
      </p>
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="product-image">
        <%= image_tag(@product.image_url, class: "img-responsive") %>
      </p>
    </div>
  
  </div>
  <%= render "new_comment" %>
  <%= render "comments" %>
  
</div>

<%= link_to 'Edit', edit_product_path(@product), class:'btn btn-primary' %> |
<%= link_to 'Back', products_path, class:'btn btn-primary' %>