<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <p class="product-name">
        <%= @product.name %>
      </p>
      
      <p class="product-description">
        <%= @product.description %>
      </p>
      <p class="product-price">
        <%= @product.price %>
      </p>
    </div>
    <div class="col-xs-6">
      <p class="product-image">
        <%= image_tag(@product.image_url, class: "img-responsive") %>
      </p>
    </div>
  
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product), class:'btn btn-primary' %> |
<%= link_to 'Back', products_path, class:'btn btn-primary' %>