<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <%= csrf_meta_tags %>
  </head>

  <body>
  	<div class="page-container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="incon-bar"></span>
              <span class="incon-bar"></span>
              <span class="incon-bar"></span>
            </button>
        
            <a class="navbar-brand">
              <%= link_to(image_tag("Logo.jpg", id: "logo"), static_pages_index_path) %>
            </a>
          </div> <!--end navbar-header-->

          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"> <button type="button" class="btn btn-primary btn-md navbar-right" data-toggle="modal" data-target="#myModal">
              Login </button> 
              </li>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Productos', products_path %></li>
              <li><%= link_to 'Contacto', static_pages_contact_path %></li>
              <li><%= link_to 'Sobre mi', static_pages_about_path %></li>

              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Logout", destroy_user_session_path, :method => :delete%>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Register", new_user_registration_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path %>  
                </li>
              <% end %>
            </ul>
             <%= form_tag("/products", method: "get", :class => "navbar-form") do %>
              <div class="form-group">
                <%= text_field_tag(:q, nil, :class => "form-control") %>
              
                <%= submit_tag("Search", :class => "btn btn-default") %>
              </div>
            <% end %>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; </span></button>
                    <h4 class="modal-title" id="myModalLabel">Customer Login</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_tag("/login", method: "get") do %>
                      <%= label_tag(:q, "Username") %>
                      <%= text_field_tag(:q) %>
                      <%= label_tag(:q, "Password") %>
                      <%= text_field_tag(:q) %>
                      <%= submit_tag("Login", :class => "btn btn-primary col-xs-12") %>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>   
                </div>
              </div>
            </div>  
          </div>
        </div>    

      </nav> 
      <% if notice %>
        <p class="notice alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-info"><%= alert %></p>
      <% end %>    
      <div class="content">
        <%= yield %>
      </div >  
    
      <footer  id="footer">
        <div class="container-fluid">
          <p>&copy Delicias de la Jara 2017</p>
        </div>
      </footer>
    </div><!--end page container-->
  </body>
</html>
