<!DOCTYPE html>
<html>
<head>
  <title>Delicias de la Jara</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
      
  <div id="wrap">

  <!-- ==================== -->
  <!-- Navigation comes now -->
  <!-- ==================== -->
  <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand page-scroll" href="#page-top"><span class="logo">Delicias de la Jara</span></a>
          <span id="search-box-xs">
            <%= form_tag("/products", method: "get") do %>
              <%= label_tag(:q, "Search for:", class: "hidden") %>
              <%= text_field_tag(:q, "", placeholder: "  Search", class: "search-xs") %>
              <%= button_tag(type: 'submit') do %>
                <span class="glyphicon glyphicon-search icon-search"></span>
              <% end %>
            <% end %>
          </span>
        </div> 
        
        <!-- /.nav-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Home", static_pages_index_path %>
            </li>
            <li>
              <%= link_to "Shop", products_path %>
            </li>
            <%if user_signed_in? %>
              <li><%= link_to "Orders" %></li>
            <% else %>
              <li>
                <%= link_to "About", static_pages_about_path %>
              </li>
            <% end %>
            <li>
              <%= link_to "Contact", static_pages_contact_path %>
            </li>
          
            <li id="search-box">
              <%= form_tag("/products", method: "get") do %>
                <%= label_tag(:q, "Search for:", class: "hidden") %>
                <%= text_field_tag(:q, "", placeholder: "  Search ", class: "search-xl") %>
                <%= button_tag(type: 'submit', class: "btn btn-search-color") do %>
                  <span class="glyphicon glyphicon-search icon-search"></span>
                <% end %>
              <% end %>
            </li>
            <li id="sm-login-out">
              <% if user_signed_in? %>
                <a>Signed in as...
                  <% if current_user.first_name.present?%>
                    <%= current_user.first_name %>
                  <% else %>
                    <%= current_user.email %> 
                  <% end %>
                </a>          
              <% end %>
            </li>
            <li id="sm-login-out">
              <% if user_signed_in? %>
              <a>|</a>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" id="dropskills" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                  <i class="glyphicon glyphicon-cog setting-comp"></i>
                  <span class="setting-mob">Settings</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" arialabelledby="settings">
                  <li><%= link_to 'See my profile', user_path(current_user) %></li>
                  <li><%= link_to 'Edit my profile', edit_user_path(current_user) %></li>
                  <li><%= link_to'My login details', edit_registration_path(current_user) %></li>
                </ul>
              </li>    
            <% else %>
              <li>
                <%= link_to('Sign up', new_user_registration_path) %>
              </li>
            <% end %>
            <li id="sm-login-out">
              <div class="btn btn-default btn-login">
                <% if user_signed_in? %>
                 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else%>
                  <%= link_to('Login', new_user_session_path) %>
                <% end %> 
              </div>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->
    <!-- /////////////// -->
    <!-- Navigation ends -->
    <!-- /////////////// -->

    <!-- alerts and notices -->
    
    <%if notice%>
      <p id="notice" class="alert top-page alert-info center"><%= notice %></p>
    <% end %>
    <% if alert%>
      <p id ="alert" class="alert top-page alert-danger center"><%= alert %></p>
    <% end %>

    <!--/ alerts and notices -->

    <%= yield %>


 

    <div class="container top-page xs-login-out">
      <div class="row">
        <div class="center">
          <% if user_signed_in? %>
            <font color="red">Signed in as...
              <% if current_user.first_name.present?%>
                <%= current_user.first_name %>
              <% else %>
                <%= current_user.email %> 
              <% end %>
            </font>          
          <% end %>
        </div>
        
        <div class="btn btn-default btn-login col-xs-6" style="margin-left: 25%">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else%>
            <%= link_to('Login', new_user_session_path) %>
          <% end %> 
        </div><!-- /.btn -->
      </div><!-- /.row -->
    </div><!-- /.container login and out for small viewports-->
  </div><!-- /#wrap -->
  
  <footer>
    <div class="container copyright">&copy; 2017 Delicias de la Jara</div>
  </footer>
</body>
</html>